.container {
    max-width: 42rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 375px) {
    .message {
        font-size: 0.9rem;
    }
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}

.subMenu {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.footMenu {
    font-size: smaller;
}